:root {
  --green: #174e43;
}

@font-face {
  font-family: 'NaN Jaune';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/NaNJaune-MidiBold.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.25;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: var(--green);
  font-family: 'NaN Jaune';
}

a,
button {
  touch-action: manipulation;
}

a {
  color: inherit;
  text-decoration: none;
}
