---
import Layout from "@layouts/default.astro";
---

<Layout title="Mallard Green" description="Web development studio">
  <div class="wrapper">
    <h1>Mallard Green</h1>
    <p>
      Web development studio. For more info —
      <a href="mailto:m@mallard.green">m@mallard.green</a>
    </p>
  </div>
</Layout>

<style>
  h1 {
    font-size: max(2.5vw, 2.5rem);
    line-height: 1.125;
    letter-spacing: -1.5px;
    margin-bottom: 1rem;
  }

  p {
    font-size: max(0.8vw, 1.125rem);
    font-weight: 500;
    letter-spacing: -0.125px;

    a {
      text-decoration: none;
      text-underline-offset: 0.25rem;
      color: inherit;
      transition: all 0.2s ease-in-out;

      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    padding: max(6vw, 1rem);
  }
</style>
